@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to <b class="text-danger">Event Management System</b></h1>

<AuthorizeView>
	<Authorized>
		<h4>Logged in as <b>@context.User.Identity.Name</b></h4>
	</Authorized>
</AuthorizeView>
